@{
  string message = TempData["StatusMessage"] as string;
}
@{
  if(string.IsNullOrEmpty(message))
      return;
  <div class="alert alert-warning alert-dismissible fade show" role="alert">
    <strong>Lỗi!</strong> @message
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
}