@model string
@{
    Layout = "_Layout";
    string []ds=(Model as string).Split(" ");
}

<div class="card bg-danger text-white">
    @* CSS inline sẽ có tác dụng mạnh hơn so với css external *@
    <h1 class="card-header" style='color:rgb(47, 203, 255)'>Xin chào @ds[0] @ds[1]. <br> Đây là view được mở tự động khi không thiết lập template </h1>
    <div class='card-body' >
        <p class='card-text' style='color:yellow'>
            Bạn đang tìm hiểu về View (.cshtml) trong ASP.net MVC
        </p>
    </div>
</div>
<p>Đường dẫn đến project này là @ds[2] @ds[3]</p>
@this.Path