@using ASPNetCore01.Models;
@model ProductModel;
@{
    ViewData["title"]="Detail product";
    @* ProductModel product = Model; *@
    ProductModel product = ViewData["product"] as ProductModel;
}
<div class="card bg-success text-white">
    <h1 class="card-header">@product.Name</h1>
    <div class='card-body'>
        <p class='card-text'>
            Giá sản phẩm là @product.Price
        </p>
    </div>
</div>