@{
    ViewData["title"] ="Detail product";
    ProductModel? product = ViewBag.product;
}
<div class="card bg-warning text-white">
    <h1 class="card-header">@product.Name</h1>
    <div class='card-body'>
        <p class='card-text'>
            Giá sản phẩm là @product.Price
        </p>
    </div>
</div>