@page "/aboutrazoz.html"

@* Sử dụng layout share của ứng dụng *@
@{
    Layout = "_Layout";
}
<h1>Giới thiệu về Razor1</h1>
<p>
    Razoz là một template engine trong .Net,nó là TEMPLATE engine
    mặc định của ASP.net MVC, có chức năng render(dựng) HTML từ các
    view(.cshtml). View(.cshtml) cho phép viết HTML và nhúng code C#
</p>

<a href="./Test/Index.html">Bấm vào đây để chuyển đến trang razoz khác</a>