@model string
@{
    Layout="_Layout";
    var username =  Model;
}
<div class="card bg-success text-white">
    <h1 class='card-header'>Xin chào @username</h1>
    <div class='card-body'>
        <p class='card-text'>Bạn đang tìm hiểu về View (.cshtml) trong ASP.net MVC</p>
    </div>
</div>
<hr>
@this.Path